# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Entornos virtuales
.venv

# Variables de entorno
.env

# Lock files y configuración local
uv.lock
.python-version

# Base de datos
*.sql