<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago realizado</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='imagenes/icono.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=2) }}">
</head>
<body>
    <header>
        <a href="{{ url_for('inicio') }}" class="logo">
            <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('productos') }}">Productos</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li style="position:relative;">
                    <a href="{{ url_for('carrito') }}" id="carrito-icon" style="font-size:1.4rem;position:relative;display:inline-block;color:white;text-decoration:none;padding:7px;">
                        <span id="carrito-badge" class="carrito-badge {{ 'badge-visible' if total_items_carrito > 0 else 'badge-oculto' }}">{{ total_items_carrito }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>✅ ¡Pago realizado correctamente!</h1>
            <p>Gracias por tu compra. Hemos recibido tu pedido y ya estamos preparando el envío.</p>
            <br>
            <br>
            <h2>Resumen del pedido</h2>
            <p><strong>Número de pedido:</strong> #{{ id_pedido }}</p>
            <p><strong>Estado:</strong> Pagado</p>
            <p><strong>Método de pago:</strong> Tarjeta</p>
            <p><strong>Entrega estimada:</strong> 1-2 días</p>
        </div>
        
        <div id="recuadro-cookies" class="recuadro-cookies">
    
            <div class="texto-cookies">
                <p>En REY MARKET utilizamos cookies propias y de terceros para asegurarnos de que todo funcione correctamente y ofrecerte el mejor servicio.</p>
            </div>
    
            <div class="contenedor-botones-cookies">
                <button id="boton-rechazar" class="boton-cookies">RECHAZAR COOKIES</button>
                <button id="boton-aceptar" class="boton-cookies">ACEPTAR COOKIES</button>
            </div>
    
        </div>
        
    </main>
    
    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
</body>
</html>