<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REY MARKET</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('Pagina_Principal') }}">Inicio</a></li>
                <li><a href="{{ url_for('ofertas')}}">Ofertas</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('registro') }}">Registro</a></li>
                <li style="position:relative;">
                <a href="{{ url_for('carrito') }}" id="carrito-icon" style="font-size:1.5rem; position:relative; display:inline-block;">🛒
                <span id="carrito-badge" class="carrito-badge {{ 'badge-visible' if total_items_carrito > 0 else 'badge-oculto' }}">
                {{ total_items_carrito }}
                </span>
                </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="categorias">
            <button class="categoria-btn activo" onclick="filtrarCategoria(this, 'todos')">Todos</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'verduras')">Verduras</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'refrescos')">Refrescos</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'lacteos')">Lácteos</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'panaderia')">Panadería</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'pasta')">Pasta</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'Fruta')">Fruta</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'carne')">Carne</button>
            <button class="categoria-btn" onclick="filtrarCategoria(this, 'conservas')">Conservas</button>
        </div>

        <div class="Productos">
            {% set lista_productos = [None] %}
            {% for producto in productos %}
                {% if producto.nombre not in lista_productos %}
                    {% set añadir_producto = lista_productos.append(producto.nombre) %}
                    <div class="producto" data-categoria="{{producto.id_categoria}}">
                        <img src="https://www.soyvisual.org/sites/default/files/styles/twitter_card/public/images/photos/ali_0032.jpg?itok=BeFk6JQE" alt="Manzanas">
                        <h3>Manzanas</h3>
                        <p>Precio: 1.50€/kg</p>
                        <button onclick="AgregaralCarrito(this, 'Manzanas', 1.50)">Añadir al carrito</button>
                    </div>

            <div class="producto" data-categoria="panaderia">
                <img src="https://forndepajorba.com/417-large_default/barra-de-pan-integral-de-90-gr.jpg" alt="Pan">
                <h3>Pan</h3>
                <p>Precio: 0.80€/unidad</p>
                <button onclick="AgregaralCarrito(this, 'Pan', 0.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="lacteos">
                <img src="https://st2.depositphotos.com/1028911/5625/i/450/depositphotos_56257637-stock-photo-3d-milk-carton-box-isolated.jpg" alt="Leche">
                <h3>Leche</h3>
                <p>Precio: 1€/litro</p>
                <button onclick="AgregaralCarrito(this, 'Leche', 1)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="lacteos">
                <img src="https://borosamarket.es/38848-medium_default/docena-de-huevos-l-12-und.jpg" alt="Huevos">
                <h3>Docena de Huevos</h3>
                <p>Precio: 3.99€/docena</p>
                <button onclick="AgregaralCarrito(this, 'Docena de Huevos', 4.00)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="pasta">
                <img src="https://m.media-amazon.com/images/I/51Jxg97Nh1L.jpg" alt="Macarrones">
                <h3>Macarrones 500g</h3>
                <p>Precio: 2.49€</p>
                <button onclick="AgregaralCarrito(this, 'Macarrones 500g', 2.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="refrescos">
                <img src="https://distribucionesplata.com/tienda/19327-thickbox_default/coca-cola-2-l.jpg" alt="Coca Cola">
                <h3>Coca Cola</h3>
                <p>Precio: 2€/unidad</p>
                    <button onclick="AgregaralCarrito(this, 'Coca Cola', 2)">Añadir al carrito</button>
            </div>
            <div class="producto" data-categoria="Fruta">
                <img src="https://static.libertyprim.com/files/familles/banane-large.jpg?1569271725" alt="Plátanos">
                <h3>Plátanos</h3>
                <p>Precio: 1.20€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Plátanos', 1.20)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="Fruta">
                <img src="https://static.carrefour.es/hd_510x_/img_pim_food/531340_00_1.jpg" alt="Naranjas">
                <h3>Naranjas</h3>
                 <p>Precio: 1.80€</p>
                <button onclick="AgregaralCarrito(this, 'Naranjas', 1.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/201810/15/00118164300040____2__600x600.jpg" alt="Tomates">
                <h3>Tomates</h3>
                <p>Precio: 2.10€</p>
                <button onclick="AgregaralCarrito(this, 'Tomates', 2.10)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://assets.supermercadosmas.com/img/615x615/product/image/349026/349026.jpg?v6" alt="Cebollas">
                <h3>Cebollas</h3>
                <p>Precio: 0.90€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Cebollas', 0.90)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://www.supermercadosruizgalan.es/documents/10180/204342/361013_G.jpg" alt="Patatas">
                <h3>Patata
                <p>Precio: 1.10€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Patatas', 1.10)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="lacteos">
                <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202105/03/00118389401128____2__1200x1200.jpg" alt="Queso">
                <h3>Queso Tierno</h3>
                <p>Precio: 4.50€/unidad</p>
                <button onclick="AgregaralCarrito(this, 'Queso Tierno', 4.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="lacteos">
                <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202403/12/00118820101303____22__1200x1200.jpg" alt="Yogur">
                <h3>Yogur Natural (pack 4)</h3>
                <p>Precio: 1.60€/pack</p>
                <button onclick="AgregaralCarrito(this, 'Yogur Natural (pack 4)', 1.60)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="carne">
                <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202508/29/00118460511373____5__1200x1200.jpg" alt="Pechuga de Pollo">
                <h3>Pechuga de Pollo</h3>
                <p>Precio: 5.99€</p>
                <button onclick="AgregaralCarrito(this, 'Pechuga de Pollo', 5.99)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="carne">
                <img src="https://www.capraboacasa.com//images/25630666.jpg" alt="Carne Picada">
                <h3>Carne Picada 400g</h3>
                <p>Precio: 3.80€</p>
                <button onclick="AgregaralCarrito(this, 'Carne Picada 500g', 3.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="panaderia">
                <img src="https://ecom-su-static-prod.wtrecom.com/images/products/11/LN_044339_BP_11.jpg" alt="Croissants">
                <h3>Croissants (pack 4)</h3>
                <p>Precio: 1.90€/pack</p>
                <button onclick="AgregaralCarrito(this, 'Croissants (pack 4)', 1.90)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="pasta">
                <img src="https://static.carrefour.es/hd_510x_/img_pim_food/020628_00_1.jpg" alt="Espaguetis">
                <h3>Espaguetis 500g</h3>
                <p>Precio: 1.99€</p>
                <button onclick="AgregaralCarrito(this, 'Espaguetis 500g', 1.99)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="refrescos">
                <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202306/07/00118630602573____5__325x325.jpg" alt="Agua">
                <h3>Agua 1.5L</h3>
                <p>Precio: 3€/unidad</p>
                <button onclick="AgregaralCarrito(this, 'Agua 1.5L', 0.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="refrescos">
                <img src="https://vivonium.es/wp-content/uploads/2017/09/1371-thickbox_default-GRANINI-NARANJA-PET-1L.jpg" alt="Zumo de Naranja">
                <h3>Zumo de Naranja 1L</h3>
                <p>Precio: 1.75€/unidad</p>
                <button onclick="AgregaralCarrito(this, 'Zumo de Naranja 1L', 1.75)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="conservas">
                <img src="https://agu-conservas.com/1980-extra_large_default/atun-claro-aceite-oliva-ortiz-pack-3-latas.jpg" alt="Atún en Lata">
                <h3>Atún en Lata (pack 3)</h3>
                <p>Precio: 6€/pack</p>
                <button onclick="AgregaralCarrito(this, 'Atún en Lata (pack 3)', 2.30)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="conservas">
                <img src="https://yourspanishcorner.com/15608-large_default/tomate-frito-orlando.jpg" alt="Tomate Frito">
                <h3>Tomate Frito 400g</h3>
                <p>Precio: 1.20€</p>
                <button onclick="AgregaralCarrito(this, 'Tomate Frito 400g', 1.20)">Añadir al carrito</button>
            </div>

            
            <div class="producto" data-categoria="Fruta">
                <img src="https://delahuertacasa.com/wp-content/uploads/2022/01/pera-conferencia-product.jpg" alt="Peras">
                <h3>Peras</h3>
                <p>Precio: 1.60€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Peras', 1.60)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="Fruta">
                <img src="https://frutasasalado.com/wp-content/uploads/2021/09/fresas-en-bandeja.jpeg" alt="Fresas">
                <h3>Fresas 500g</h3>
                <p>Precio: 2.50€</p>
                <button onclick="AgregaralCarrito(this, 'Fresas 500g', 2.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="Fruta">
                <img src="https://storage.gadisline.com/catalog/d822b736-0373-4d9b-b17e-ca27ac0971bc" alt="Melón">
                <h3>Melón</h3>
                <p>Precio: 1.30€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Melón', 1.30)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://huertacarabana.com/cdn/shop/products/lechugabatavia_huertadecarabana_Mesadetrabajo1-min.jpg?v=1659366568" alt="Lechuga">
                <h3>Lechuga</h3>
                <p>Precio: 0.99€/unidad</p>
                <button onclick="AgregaralCarrito(this, 'Lechuga', 0.99)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://www.ahorramas.com/dw/image/v2/BFNH_PRD/on/demandware.static/-/Sites-ahorramas-master/default/dwb491ed36/Assets/068716_C1C1/large/e/2/3/7/e237bc72f5d689cac5495f736243f3dc7aaf5336_068716_C1C1.jpg?sh=450&sw=400&sh=400&sm=fit" alt="Zanahorias">
                <h3>Zanahorias 1kg</h3>
                <p>Precio: 1.20€</p>
                <button onclick="AgregaralCarrito(this, 'Zanahorias 1kg', 1.20)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://a2.soysuper.com/f92bbf488a30d019ea3ebf6e46201b38.600.0.0.0.wmark.c8217c1b.jpg" alt="Pimientos">
                <h3>Pimientos (pack 3)</h3>
                <p>Precio: 1.80€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Pimientos Rojos', 1.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="verduras">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScSs8SgPQx6-gckruIXem-zpGZo7Rm9FBH1A&s" alt="Pepino">
                <h3>Pepino</h3>
                <p>Precio: 0.70€/unidad</p>
                <button onclick="AgregaralCarrito(this, 'Pepino', 0.70)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="lacteos">
                <img src="https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202406/20/00118815100013____13__1200x1200.jpg" alt="Mantequilla">
                <h3>Mantequilla 250g</h3>
                <p>Precio: 2.10€</p>
                <button onclick="AgregaralCarrito(this, 'Mantequilla 250g', 2.10)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="lacteos">
                <img src="https://www.despensa.es/documents/10180/10736/010302_G.jpg" alt="Nata">
                <h3>Nata para Cocinar</h3>
                <p>Precio: 1.40€</p>
                <button onclick="AgregaralCarrito(this, 'Nata para Cocinar', 1.40)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="panaderia">
                <img src="https://www.bimbo.es/uploads/bimbocorp/big/BIMBO_GRANDE_2023.png?7" alt="Pan de Molde">
                <h3>Pan de Molde</h3>
                <p>Precio: 1.50€</p>
                <button onclick="AgregaralCarrito(this, 'Pan de Molde', 1.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="panaderia">
                <img src="https://www.distribumix.com/image/cache/catalog/images/027301-325x325.jpg" alt="Magdalenas">
                <h3>Magdalenas (pack 6)</h3>
                <p>Precio: 1.80€</p>
                <button onclick="AgregaralCarrito(this, 'Magdalenas (pack 6)', 1.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="pasta">
                <img src="https://www.confisur.es/2049-large_default/arroz-sos-1kg.jpg" alt="Arroz">
                <h3>Arroz 1kg</h3>
                <p>Precio: 1.50€</p>
                <button onclick="AgregaralCarrito(this, 'Arroz 1kg', 1.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="pasta">
                <img src="https://legumbresguillermo.es/wp-content/uploads/2023/12/copos-de-avena-500g-legumbres-guillermo-scaled.jpg" alt="Avena">
                <h3>Avena 500g</h3>
                <p>Precio: 1.90€</p>
                <button onclick="AgregaralCarrito(this, 'Avena 500g', 1.90)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="carne">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWRuOMiPEvFrK-5LoZUkKUsjvhF0FkF1BF-Q&s" alt="Salchichas">
                <h3>Salchichas (pack 8)</h3>
                <p>Precio: 2.80€</p>
                <button onclick="AgregaralCarrito(this, 'Salchichas (pack 8)', 2.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="carne">
                <img src="https://www.dia.es/product_images/298528/298528_ISO_0_ES.jpg" alt="Jamón Cocido">
                <h3>Jamón Cocido 200g</h3>
                <p>Precio: 2.50€</p>
                <button onclick="AgregaralCarrito(this, 'Jamón Cocido 200g', 2.50)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="refrescos">
                <img src="https://raggu.es/hedutar/Fanta-Naranja-2500ml.jpg" alt="Fanta Naranja">
                <h3>Fanta Naranja 2L</h3>
                <p>Precio: 1.80€</p>
                <button onclick="AgregaralCarrito(this, 'Fanta Naranja 2L', 1.80)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="refrescos">
                <img src="https://www.despensa.es/documents/10180/10736/501029_G.jpg" alt="Té Frío">
                <h3>Fuze Tea 1.5L</h3>
                <p>Precio: 1.60€</p>
                <button onclick="AgregaralCarrito(this, 'Té Frío Limón 1.5L', 1.60)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="conservas">
                <img src="https://www.nestlefamilyclub.es/sites/default/files/styles/480x480_trans_/public/2022-07/08413000065764_A1C1.jpg?itok=ooGnHjp6" alt="Lentejas en Lata">
                <h3>Lentejas en Lata</h3>
                <p>Precio: 3.10€</p>
                <button onclick="AgregaralCarrito(this, 'Lentejas en Lata 400g', 1.10)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="conservas">
                <img src="https://bacalalo.com/cdn/shop/files/sardinas-dardo-1218-en-aceite-de-oliva-lata-118-g-6248754.webp?v=1769781574&width=480" alt="Sardinas">
                <h3>Sardinas en Aceite</h3>
                <p>Precio: 3.30€</p>
                <button onclick="AgregaralCarrito(this, 'Sardinas en Aceite', 1.30)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="Fruta">
                <img src="https://m.media-amazon.com/images/I/71FImK8QqZL.jpg" alt="Uvas">
                <h3>Uvas</h3>
                <p>Precio: 2.20€/kg</p>
                <button onclick="AgregaralCarrito(this, 'Uvas', 2.20)">Añadir al carrito</button>
            </div>

            <div class="producto" data-categoria="conservas">
                <img src="https://www.lacostena.com.mx/media/uploads/Products/vegetales/garbanzos/garbanzos_420g.png" alt="Garbanzos">
                <h3>Garbanzos en Lata 400g</h3>
                <p>Precio: 1.05€</p>
                <button onclick="AgregaralCarrito(this, 'Garbanzos en Lata 400g', 1.05)">Añadir al carrito</button>
            </div>
        </div>
    </main>

    <div id="toast"></div>

    <script>
        function filtrarCategoria(btn, categoria) {
            document.querySelectorAll('.categoria-btn').forEach(b => b.classList.remove('activo'));
            btn.classList.add('activo');
            document.querySelectorAll('.producto').forEach(prod => {
                prod.style.display = (categoria === 'todos' || prod.dataset.categoria === categoria) ? '' : 'none';
            });
        }

        function AgregaralCarrito(btn, nombre, precio) {
            // Animación botón
            btn.textContent = '✓ Añadido';
            btn.disabled = true;
            btn.style.background = '#1b5e20';
            setTimeout(() => {
                btn.textContent = 'Añadir al carrito';
                btn.style.background = '';
                btn.disabled = false;
            }, 1500);

            // Burbuja voladora
            const carritoIcon = document.getElementById('carrito-icon');
            const btnRect = btn.getBoundingClientRect();
            const carritoRect = carritoIcon.getBoundingClientRect();

            const burbuja = document.createElement('div');
            burbuja.className = 'burbuja-fly';
            burbuja.textContent = '🛒';
            burbuja.style.left = (btnRect.left + btnRect.width / 2) + 'px';
            burbuja.style.top = (btnRect.top + window.scrollY) + 'px';
            burbuja.style.setProperty('--dx', (carritoRect.left - btnRect.left) + 'px');
            burbuja.style.setProperty('--dy', (carritoRect.top - btnRect.top - window.scrollY) + 'px');
            document.body.appendChild(burbuja);

            // Forzar reflow para que la animación arranque
            burbuja.offsetWidth;
            burbuja.classList.add('volando');

            burbuja.addEventListener('animationend', () => {
                burbuja.remove();
                carritoIcon.classList.add('shake');
                setTimeout(() => carritoIcon.classList.remove('shake'), 500);
            });

            // Petición al servidor
            fetch('/carrito/agregar', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nombre, precio })
            })
            .then(r => r.json())
            .then(data => {
                const badge = document.getElementById('carrito-badge');
                badge.textContent = data.total_items;
                badge.style.display = data.total_items > 0 ? 'flex' : 'none';
            });
        }
    </script>
</body>
</html>